ruby:
  center = {
          latlng: Geocoder::Calculations.geographic_center(@venues),
          zoom: 5
  }
  markers = @venues.map do |v|
    {
            latlng: [v.latitude, v.longitude],
            popup: v.name
    }
  end

= map(center: center, markers: markers)
