@import "materialize/components/color-variables";
$primary-color: color("blue", "base") !default;
$secondary-color: color("orange", "base") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/sortable
 *= require_tree .
 *= require_self
 */

@import "setlist_table";

body {
    background-color: #ffffff;
    background-image: radial-gradient(#efefef 20%, transparent 20%), radial-gradient(#efefef 20%, transparent 20%);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}

.container {
    background-color: #ffffff;
}
