// Place all the styles related to the ComposersGraph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg {
  width: 100%;
}

.uranohoshi {
  fill: #0EABE3;

  circle {
    stroke-width: .5px;
    stroke: #0EABE3;
  }
}

.otonokizaka {
  fill: #E4007F;

  circle {
    stroke-width: .5px;
    stroke: #E4007F;
  }
}

.nijigasaki {
  fill: #FFAB24;

  circle {
    stroke-width: .5px;
    stroke: #FFAB24;
  }
}

.artist {
  circle {
    fill: #FAFAFA;
    stroke-width: 2px;
    stroke: #DDDDDD;
  }

  text {
    fill: #333333;
    font-weight: bold;
  }
}

.links {
  stroke: #DDDDDD;
  stroke-width: 3px;
  opacity: .5;
}
